/*.clearfix::after{
  content: "";
  display: block;
  clear: both;
}*/

.about {
  width:100%;
  margin:0 auto;
  background-color: #fafafa;
}
.about .container {
  padding:100px 0;
  text-align:center;
}
.about .container h3 {
  font-size:18px;
  padding:10px 0;
  color:#666;
}

.time-line {
  margin: 60px 0;
}
.time-line>li {
  text-align: center;
  position: relative;
  padding:0 0 100px 0;
  z-index: 100;
}
.time-line img {
  width: 156px;
  height: 156px;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  background: #fed136;
  vertical-align: middle;
}
.summary {
  position: absolute;
  text-align: right;
  right: 50%; 
  width: 500px;
  margin-right: 100px;
  margin-top: -150px;
}
.time-line li:nth-child(even) .summary {
  left: 50%;
  margin-left: 100px;
  text-align: left;
}
/*绘制中轴线*/
.time-line li:after {
  content:"";
  display:block;
  position: absolute;
  left:50%;
  top:0;
  border-left:2px solid #000;
  margin-left:1px;
  height:100%;
  z-index: -1;
}
.time-line li:last-child {
  padding:0;
}
.time-line .summary>h4 {
  font-size:18px;
  padding-bottom:10px;
}
.time-line .summary>p {
  font-size:16px;
  padding:5px 0;
  letter-spacing:1.2px;
  color:#666;
}





.back-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #ccc;
  width: 100px;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
}
.back-top:hover {
  color: #fff;
  background: #666;;
}