.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.contact-form {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.contact-form .intro_text {
  padding: 50px;
}
.contact-form .intro_text>h1 {
  margin-bottom: 20px;
}

.contact-form .user-info {
  float: left;
  width: 300px;
}
.contact-form .user-info>input {
  padding: 10px 200px 10px 0;
  margin-bottom: 18px;
}
.contact-form .message {
  float: right;
}

.contact-form>input {
  padding: 10px 20px;
  background: yellow;
  list-style: none;
  display: block;
}
