* {
  margin: 0;
  padding: 0;
}
ul,li {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.new {
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
.new h2 {
  display: inline-block;
  padding: 30px;
  background: #666;
  color: #fff;
  max-width: 200px;
  margin-top: 50px;
  border-radius: 30px;
}
.new ul>li {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}